<div class="my-12 border-b-2 border-sky-500 pb-6">
  <h2 class="font-bold text-3xl"><%= article.title %></h2>
  <p class="my-6"><%= image_tag article.photos[0]['files']['small'] %> </p>
  <p>description: <%= article.description %></p>
  <p>section: <%= article.section %></p>
  <p>collection_notes: <%= article.collection_notes %></p>
  <p>status: <%= article.status %></p>
  <p>expiry date: <%= article.expiry %></p>
  <p>likes: <%= article.reactions['likes'] %></p>
  <p class="mt-4">Uploaded by <%= article.user.first_name %></p>
  <% if article.user.current_avatar['small'] %> 
    <p class="my-4"><%= image_tag article.user.current_avatar['small'] %></p>
  <% end %>
</div>

