<div class="my-12 border-b-2 border-sky-500 pb-6 article" data-controller="articles" data-articles-update-url="<%= article_path(article) %>">
  <h2 class="font-bold text-3xl"><%= article.title %></h2>
  <p class="my-6"><%= image_tag article.photos[0]['files']['small'] %> </p>
  <p><span>description:</span> <%= article.description %></p>
  <p><span>section:</span> <%= article.section %></p>
  <p><span>collection_notes:</span> <%= article.collection_notes %></p>
  <p><span>status:</span> <%= article.status %></p>
  <p><span>expiry date:</span> <%= article.expiry %></p>
  <p><span>likes:</span> <span class="likes"><%= article.reactions['likes'] %></span></p>
  <p class="mt-4">Uploaded by <%= article.user.first_name %></p>
  <p class="my-4"><%= image_tag article.user.current_avatar['small'] %></p>

  <a href="#" class="text-2xl" data-action="click->articles#like">&hearts; Like This!</a>
</div>

